/* --bg: #00000C;
--bg2: #21004E;
--dark: #5103B8;
--purple: #7514F7;
--light: #8A31FF; */

button {
    background: var(--light);
    border: 0;
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    margin: 1rem;
    transition: box-shadow .5s ease;
    width: fit-content;
}

button > a {
    color: white;
    text-decoration: none;
    transition: transform 1s ease;
}

button:hover {
    box-shadow: 0 1rem 1rem var(--shadow);
}

button > a:hover {
    transform: translateY(-1rem);
}