* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--bg: #00000C;
--bg2: #21004E;
--dark: #5103B8;
--purple: #7514F7;
--light: #8A31FF;
--shadow: rgba(0, 0, 0, 0.6);

--telegram: #0088cc;
--whatsapp: #25d366;
}

::selection {
    background: var(--bg);
    color: var(--light);
}