/* --bg: #00000C;
--bg2: #21004E;
--dark: #5103B8;
--purple: #7514F7;
--light: #8A31FF; */


/* SETUP */
.start-container {
    background: 
    linear-gradient(to bottom, transparent, var(--bg) 90%),
    url(../assets/background.png) 30% 30% no-repeat;
    background-size: 110%;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* SECTION */
.start-container > section {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(0.5);
}


/* SECTION > CONTENT */
.start-container > section > .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.start-container > section > .content > div:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}
.start-container > section > .content > div:nth-child(2) > h2 {
    align-self: flex-start;
    max-width: 30rem;
    margin-bottom: 1rem;
}
.start-container > section > .content > div:nth-child(2) > p {
    color: white;
    padding: 0;
    max-width: 30rem;
    align-self: flex-start;
    margin: 1rem 0;
}

.start-container > section > div:nth-child(1) {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-bottom: 30rem solid var(--dark);
    border-left: 70vw solid transparent;
}

.start-enter {
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: stretch;
    gap: 1rem;
    align-self: flex-start;
}

.start-enter > div {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.2rem;
    font-size: 1.8rem;
    gap: .5rem
}
.start-enter > div:nth-child(3) {
    padding: 0;
}
.start-enter > div:nth-child(3) > svg {
    width: 3rem;
}

.start-enter > div:nth-child(1) > svg {
    fill: var(--whatsapp);
}
.start-enter > div:nth-child(2) > svg {
    fill: var(--telegram);
}
.start-lang {
    align-self: flex-end;
}

/* LOGO */

.start-container > .logo-container {
    --size: 35rem;
    --translate: -3rem;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: var(--translate);
    left: var(--translate);
    overflow: hidden;
    border-radius: 50%;
}

.start-container > .logo-container > img {
    width: 100%;
}

