/* --bg: #00000C;
--bg2: #21004E;
--dark: #5103B8;
--purple: #7514F7;
--light: #8A31FF; */


/* SETUP */
.start-container {
    background: 
    linear-gradient(to bottom, transparent, var(--bg) 90%),
    url(../assets/background.png) 30% 30% no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* SECTION */
.start-container > section {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(0.5);
}


/* SECTION > CONTENT */
.start-container > section > .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.start-container > section > .content > div:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}
.start-container > section > .content > div:nth-child(2) > h2 {
    align-self: flex-start;
    max-width: 30rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;  
    border-right: solid 3px transparent;   
}
.start-container > section > .content > div:nth-child(2) > h2:nth-child(1) {border-right: solid 3px var(--light);}
.start-container > section > .content > div:nth-child(2) > p {
    color: white;
    padding: 0;
    max-width: 30rem;
    align-self: flex-start;
    margin: 1rem 0;
}

.start-container > section > div:nth-child(1) {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-bottom: 30rem solid var(--dark);
    border-left: 70vw solid transparent;
}

.start-enter {
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: stretch;
    gap: 1rem;
    align-self: flex-start;
}

.start-enter > a,
.start-enter > div {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.2rem;
    font-size: 1.8rem;
    gap: .5rem;
    box-shadow: 0 0 1rem black;
}
.start-enter > div {
    padding: 0;
}
.start-enter > div > svg {
    width: 3rem;
}

.start-enter > a:nth-child(1) > svg {
    fill: var(--whatsapp);
}
.start-enter > a:nth-child(2) > svg {
    fill: var(--telegram);
}

.start-enter > a {
    cursor: pointer;
    transition: box-shadow .2s ease;
}
.start-enter > a:nth-child(1):hover{
    box-shadow: 0 0 5rem var(--whatsapp);
    z-index: +1;
}
.start-enter > a:nth-child(2):hover{
    box-shadow: 0 0 5rem var(--telegram);
    z-index: +1;
}
.start-lang {
    align-self: flex-end;
}

/* LOGO */

.start-container > .logo-container {
    --size: 35rem;
    --translate: -3rem;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: var(--translate);
    left: var(--translate);
    overflow: hidden;
    border-radius: 50%;
}

.start-container > .logo-container > img {
    width: 100%;
}

/* Bottom */
section > a > svg {
    position: absolute;
    left: 50%;
    bottom: 0;
    fill: var(--bg2);
    width: 2rem;
    margin-bottom: 16px;
}

/* ANIMATIONS */


.start-container > section > .content > div:nth-child(2) > h2:nth-child(1) {
    animation: animated-text1 1.2s steps(11,end) .5s 1 normal both,
                animated-cursor1 .6s steps(12,end) 12,
                cursor-disabled .1s linear 2s forwards;
}

.start-container > section > .content > div:nth-child(2) > h2:nth-child(2) {
    animation: animated-text2 .7s steps(7,end) 2s 1 normal both,
                animated-cursor .5s steps(12,end) 2s 2;
}

.start-container > section > .content > div:nth-child(2) > h2:nth-child(3) {
    animation: animated-text3 1s steps(13,end) 3.5s 1 normal both,
                animated-cursor .6s steps(12,end) 3s infinite;
}


@keyframes animated-text1
{
    from{width: 0;}
    to{width: 320px;}
}
@keyframes animated-text2
{
    from{width: 0;}
    to{width: 205px;}
}
@keyframes animated-text3
{
    from{width: 0;}
    to{width: 380px;}
}
@keyframes animated-cursor
{
    from{border-right-color: transparent;}
    to{border-right-color: var(--light);}
}
@keyframes animated-cursor1
{
    from{border-right-color: var(--light)}
    to{border-right-color: transparent;}
}
@keyframes cursor-disabled
{
    to{border-right-color: transparent;}
}

.start-enter > div > svg {
    animation: enter-svg-start 1s ease-out 3s infinite forwards;
}

@keyframes enter-svg-start 
{
    from {transform: translateX(.3rem);}
    to {transform: translateX(-.3rem);}
}

.start-container > .logo-container > img {
    animation: logo-start 1s ease 0s;
}

@keyframes logo-start
{
    from {transform: translateX(-1rem); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

.start-container > section > .content > div:nth-child(2) > p {
    opacity: 0;
    animation: paragraph-start 1s ease 5s forwards;
}

@keyframes paragraph-start 
{
    from {transform: translateX(1rem); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

.start-enter > div {
    opacity: 0;
    animation: enter-start 1s ease-out 7s forwards;
}

.start-enter > a:nth-child(1) {
    opacity: 0;
    animation: enter-start 1s ease-out 6s forwards;
}
.start-enter > a:nth-child(2) {
    opacity: 0;
    animation: enter-start 1s ease-out 6.5s forwards;
}
@keyframes enter-start 
{
    from {transform: translateY(1rem); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

.start-lang {opacity: 0;
    animation: enter-start 1s ease-out 7.5s forwards;
}

section > a > svg {
    opacity: 0;
    animation: enter-start 1s ease-out 8s forwards,
    read-more 1s ease-out 7.5s infinite;
}

@keyframes read-more
{
    from {transform: translateY(0rem);}
    to {transform: translateY(.5rem);}
}

/* RESPONSIVITY */

@media screen and (max-width: 1026px)
{
    .start-container > section > .content {
        grid-template-columns: 1fr 2fr;
    }

    .start-container > .logo-container {
        --size: 20rem;
        --translate: -3rem;
    }
}

@media screen and (max-width: 805px)
{
    .start-container {
        height: 100%;
    }
    .start-container > section > .content {
        display: flex;
        padding: 20rem 1rem;
        padding-bottom: 0;
    }
    .start-container > section > .content > div:nth-child(2) {
        align-items:center;
        justify-content: st;
        padding: 0;
    }
    .start-container > section > .content > div:nth-child(2) > h2 {
        align-self: center;  
    }
    .start-container > section > .content > div:nth-child(2) > p {
        align-self: center;
    }
    
    .start-container > section > div:nth-child(1) {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-bottom: 30rem solid var(--dark);
        border-left: 100vw solid transparent;
    }
    
    .start-enter {
        width: 100%;
        padding: 0 2rem;
        align-self: center;
    }

    .start-container > .logo-container {
        --size: 20rem;
        --translate: -3rem;
        left: -2rem;
    }

    .start-enter > a,
    .start-enter > div {
        padding: 1rem;
    }
    .start-enter > div {
        padding: 0;
    }
    .start-enter > div > svg {
        width: 70%;
    }
    .start-enter > div > svg {
        width: 40%;
    }
}

@media screen and (max-width: 460px)
{
    .start-enter > div > span {
        display: none;
    } 

    .start-container > section > .content > div:nth-child(2) > h2 {
        font-size: 2rem;  
    }

    @keyframes animated-text1
    {
        from{width: 0;}
        to{width: 215px;}
    }
    @keyframes animated-text2
    {
        from{width: 0;}
        to{width: 138px;}
    }
    @keyframes animated-text3
    {
        from{width: 0;}
        to{width: 253px;}
    }
}

