@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Source+Code+Pro&display=swap');


* {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: white;

}

p {
    font-size: 1.3rem;
    text-align: justify;
}

h2, h2 > span {
    font-size: 3rem;
    font-family: 'Source Code Pro', monospace; 
}