@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

* {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: white;

}

p {
    font-size: 1.3rem;
    text-align: justify;
}

h2 {
    font-size: 3rem;
}