@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a{
  color: #fff;
  text-decoration: none;
  width: 0%;
}

:root{
  --bg-background-color: #00000c;
  --bg-text-color: #fff;
  --bg: #00000C;
  --bgt: #00000cd0;
  --bg2: #21004E;
  --dark: #5103B8;
  --purple: #7514F7;
  --light: #8A31FF;
  --shadow: rgba(0, 0, 0, 0.6);

  --telegram: #0088cc;
  --whatsapp: #25d366;
}

body{
  font-family: 'Lato', sans-serif;
}
.container{
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background: var(--bg);
}
.container > header{
  background: var(--bgt);
  height: 80px;
  width: 100%;
  box-shadow: 0 0 5rem black;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

label img{
  position: relative;
  height: 500px;
  border-radius: 50%;
  bottom: 65%;
  right: 80px;
}
.container > header ul{
  float: right;
  margin-right: 20px;
}
.container > header ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.container > header ul li a{
  position: relative;
  color: gray;
  font-size: 17px;
  padding: 2px 10px;
  border-radius: 3px;
}

.container > header ul li .active{
  color: #6b22c7;
}

a:hover{
  transition: .5s;
  color: #fff;
}

.container > header > img {
  width: 3rem;
  position: relative;
  left: 80px;
  border-radius: 50%;
}


.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/* HALl */

.hall{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hall > h2{
  color: white;
  background: var(--dark);
  margin-top: 4rem;
  padding: 1.5rem 5rem;
  border-radius: 1rem;
  transform: translateY(2.5rem);
}

.hall > .carousel {
  width: 100%;
  height: 25rem;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  align-items: center;
  background: var(--purple);
  padding: 0 1rem;
  padding-top: 1rem;
}

.hall > .carousel > a{
  width: 100%;
  display: flex;
  justify-content: center;
  display: block;
  font-size: 2rem;
  text-align: center;
}

.hall > .carousel > .members {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.m1 {order: 1}
.m2 {order: 2}
.m3 {order: 3}
.m4 {order: 4}
.m5 {order: 5}

.hall > .carousel > .members > .member{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2rem .5rem;
}

.hall > .carousel > .members > .member > img{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.hall > .carousel > .members > .member > p{
  font-size: 1.5rem;
  margin: .5rem;
}

.hall > .carousel > .members > .member > .links{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.hall > .carousel > .members > .member > .links > div{
  background-color: var(--bg2);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
}
.hall > .carousel > .members > .member > .links > div > a > svg{
  fill: white;
  border-radius: 50%;
}

.readmore {
  position: absolute;
  bottom: 0;
  background-color: var(--purple);
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: .2rem;
}

.readmore {
  animation: readmore 1s ease-out 0s infinite forwards;
}

@keyframes  readmore
{
  from {transform: translateY(0rem);}
  to {transform: translateY(.3rem);}
}

#quem-somos {
  margin-top: 4rem;
  width: 2rem;
  height: 2rem;
}





.whoweare {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: center;
  padding: 3rem 8rem;
  gap: 3rem;
}

.whoweare > img {
  width: 100%;
  justify-self: start;
  border-radius: 2rem;
  transform: translateY(5rem);
}

.whoweare > .content {
  max-width: 35rem;
  justify-self: center;
  padding-bottom: 5rem;
}

.whoweare > .content > h2{
  margin-top: 5rem;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.whoweare > .content > h3 {
  font-size: 2rem;
}

.whoweare > .content > p{
  padding-left: 5rem;
  margin: 1rem 0;
  margin-left: 3rem;
  font-size: 1.2rem;
  text-align: justify;
  border-left: 5px solid white;
}

.whoweare > .content > p:nth-child(2){
  padding-left: 2rem;
  margin-left: 3rem;
}

.whoweare > .content > p:last-child{
  padding-bottom: 2rem;
  border-bottom: 5px solid white;
}





@media screen and (max-width: 1224px)
{
  .hall{
    width: 100%;
  }
  .hall > h2{
    transform: translateY(2.5rem);
  }
  
  .hall > .carousel {
    height: fit-content;
    grid-template-columns: 3rem 1fr 3rem;
  }
  
  .hall > .carousel > a{
    font-size: 2rem;
  }
  
  .hall > .carousel > .members > .member > img{
    width: 8rem;
    height: 8rem;
  }
  
  .hall > .carousel > .members > .member > p{
    font-size: 1.2rem;
  }
  
  .hall > .carousel > .members > .member > .links{
    gap: .2rem;
  }
  .hall > .carousel > .members > .member > .links > div{

    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
  }

  .whoweare {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 3rem;
  }

  .whoweare > img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 50% 30%;
    justify-self: start;
    border-radius: 2rem;
    border-radius: 0;
  }

  .whoweare > .content {
    max-width: 90%;
    padding: 0 8rem;
    padding-bottom: 5rem;
  }
}


@media screen and (max-width: 950px){

  .checkbtn{
    position: absolute;
    z-index: 99;
    display: block;
    left: 90%;
  }
  .container > header ul{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #00000c;
    top: 0px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .container > header ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .container > header ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

  .hall {
    height: 100%;
  }
  .hall > .carousel > .members {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
  }
  
  .m1 {order: 4}
  .m2 {order: 1}
  .m3 {order: 2}
  .m4 {order: 3}
  .m5 {order: 5}

  .readmore {
    display: none;
  }

  .whoweare > .content {
    max-width: 90%;
    padding: 0 2rem;
    padding-right: 4rem;
    padding-bottom: 5rem;
  }



}

@media screen and (max-width: 550px)
{
  .m1 {order: 4}
  .m2 {order: 3}
  .m3 {order: 1}
  .m4 {order: 3}
  .m5 {order: 5}
}

@media screen and (max-width: 450px)
{
  .whoweare > .content {
    padding: 0 2rem;
  }
  
  .whoweare > .content > h3 {
    font-size: 2rem;
  }
  
  .whoweare > .content > p{
    padding-left: 3rem;
    margin: 1rem 0;
    margin-left: 1rem;
  }
  
  .whoweare > .content > p:nth-child(2){
    padding-left: 2rem;
    margin-left: 1rem;
  }
  
  .whoweare > .content > p:last-child{
    padding-bottom: 1rem;
    border-bottom: 5px solid white;
  }
}