@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a{
  color: #fff;
  text-decoration: none;
  width: 0%;
}

:root{
  --bg-background-color: #00000c;
  --bg-text-color: #fff;
  --bg: #00000C;
  --bg2: #21004E;
  --dark: #5103B8;
  --purple: #7514F7;
  --light: #8A31FF;
  --shadow: rgba(0, 0, 0, 0.6);

  --telegram: #0088cc;
  --whatsapp: #25d366;
}

body{
  font-family: 'Lato', sans-serif;
  overflow: hidden
}

.main-page {
  background: linear-gradient(to bottom, var(--bg) 90%, var(--dark) );
  height: 100vh;
}
nav{
  background: transparent;
  height: 80px;
  width: 100%;
}

label img{
  position: relative;
  height: 500px;
  border-radius: 50%;
  bottom: 65%;
  right: 80px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  position: relative;
  color: gray;
  font-size: 17px;
  padding: 2px 10px;
  border-radius: 3px;
}

a:hover{
  transition: .5s;
  color: #fff;
}

a.active{
  color: #6b22c7;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.bodyhome {
  width: 50%;
  margin-left: 50%
}
.bodyhome h1{
  overflow: hidden;
  font-weight: bold;
  width: 70%;
  color: #6b22c7;
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;  
  border-right: solid 3px transparent;
}
.bodyhome h1:nth-child(1) {
  margin-top: 2rem;
  animation: animated-text1 1.2s steps(11,end) .5s 1 normal both,
  animated-cursor1 .5s steps(10,end) 12,
  cursor-disabled .1s linear 2s forwards;
}

.bodyhome h1:nth-child(2) {
  animation: animated-text2 .7s steps(7,end) 2s 1 normal both, 
  animated-cursor .5s steps(10,end) 2s 2;
}

.bodyhome h1:nth-child(3) {
  animation: animated-text3 1s steps(13,end) 3.5s 1 normal both, 
  animated-cursor .6s steps(10,end) 3s infinite;
}
.bodyhome h1:nth-child(1) {border-right: solid 3px var(--light);}

@keyframes animated-text1{
  from{width: 0;}
  to{width: 280px;}
}
@keyframes animated-text2{
  from{width: 0;}
  to{width: 170px;}
}
@keyframes animated-text3{
  from{width: 0;}
  to{width: 300px;}
}
@keyframes animated-cursor{
  from{border-right-color: transparent;}
  to{border-right-color: var(--light);}
}
@keyframes animated-cursor1{
  from{border-right-color: var(--light)}
  to{border-right-color: transparent;}
}
@keyframes cursor-disabled{
  to{border-right-color: transparent;}
}

.bodyhome h2{
  margin-top: 1rem;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  width: 70%;
  color: #fff;
}

.start-enter {
  display: flex;
  width: 55%;

  gap: 2rem;
}

.start-enter > a,
.start-enter > div {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  box-shadow: 0 0 1rem var(--light);
}
.start-enter > div > svg {
  width: 100%;
}

.start-enter > a:nth-child(1) > svg {
  fill: var(--whatsapp);
}
.start-enter > a:nth-child(2) > svg {
  fill: var(--telegram);
}

.start-enter > a {
  cursor: pointer;
  transition: box-shadow .2s ease;
}
.start-enter > a:nth-child(1):hover{
  box-shadow: 0 0 5rem var(--whatsapp);
  z-index: +1;
}
.start-enter > a:nth-child(2):hover{
  box-shadow: 0 0 5rem var(--telegram);
  z-index: +1;
}
.start-lang {
  align-self: flex-end;
}

.start-enter > div > svg {
  animation: enter-svg-start 1s ease-out 3s infinite forwards;
}

@keyframes enter-svg-start 
{
  from {transform: translateX(.3rem);}
  to {transform: translateX(-.3rem);}
}



@media (max-width: 1085px) {
  .whatsapp {
    display: none;
  }
}


@media (max-width: 950px){
  label img{
    height: 10rem;
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .bodyhome {
    margin-left: 1rem;
    width: 90%
  }
  .bodyhome h1{
    margin-right: 80px;
    font-size: 2rem;
  }
  .bodyhome h1:nth-child(1) {
    margin-top: 5rem;
  }
  .bodyhome h2 {
    width: 100%;
    margin-bottom: 2rem;
  }
  @keyframes animated-text1{
    from{width: 0;}
    to{width: 12rem}
  }
  @keyframes animated-text2{
    from{width: 0;}
    to{width: 8rem;}
  }
  @keyframes animated-text3{
    from{width: 0;}
    to{width: 13rem;}
  }

  .start-enter {
    margin-left: 40%;
  }
  .start-enter > a,
  .start-enter > div {
      padding: 1rem;
  }
  .start-enter > div {
      padding: 0;
  }
  .start-enter > div > svg {
      width: 70%;
  }
  .start-enter > div > svg {
      width: 40%;
  }


  .checkbtn{
    position: absolute;
    z-index: 99;
    display: block;
    left: 90%;
  }
  ul{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #00000c;
    top: 0px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

}